.multi-step-form {
  background: $light-blue-color;
  min-height: 100vh;

  &__container {
    @include container;
    margin-bottom: 0 !important;
    padding-bottom: 24px;
  }
}

.multi-step {
  padding-top: 96px;
  display: grid;

  @include media('>=tablet_portrait') {
    padding-top: 208px;
    grid-template-columns: 1fr 2fr;
  }
}

.progtrckr {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 32px;
  overflow-x: scroll;

  @include media('>=tablet_portrait') {
    grid-auto-flow: row;
    position: absolute;
    grid-column-gap: 0;
    grid-row-gap: 32px;
    overflow-x: hidden;
  }
}

.progtrckr-doing {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  em {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 0;
  }
  span {
    color: $primary-color;
    font-weight: bold;
    text-align: center;
  }
}

.progtrckr-todo {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  em {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 0;
  }
  span {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
  }
}

.progtrckr-done {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  em {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 0;
  }
  span {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
  }
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  background: $white-color;
  border-radius: 0 0 8px 8px;
  padding: 16px 13px 32px 14px;

  @include media('>=tablet_portrait') {
    padding: 24px 56px 56px;
    grid-column: 2;
  }
}

.pull-right {
  @include primary-button;
}

.pull-left {
  background: none;
  color: $primary-color;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;

  @include media('>=tablet_portrait') {
    font-size: 16px;
  }
}

.business-category {
  @include media('>=tablet_portrait') {
    grid-column: 2;
  }
  &__container {
    padding-top: 32px;

    @include media('>=tablet_portrait') {
      padding: 0;
    }
  }

  h3 {
    @include h3;
    margin-bottom: 16px;
  }

  p {
    @include text-body;
    margin-bottom: 32px;
  }

  &__form {
    background: $white-color;
    border-radius: 8px 8px 0 0;
    padding: 32px 13px 0 14px;

    @include media('>=tablet_portrait') {
      padding: 56px 56px 0;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input {
        border: 1px solid $grey-light-color;
        border-radius: 8px;
        padding: 12px 20px;

        &::placeholder {
          opacity: 20%;
        }
      }
    }
  }
}
.rc-tooltip {
  padding: 0 !important;
}
.rc-tooltip-arrow {
  display: none !important;
}
.rc-tooltip-inner {
  background: none !important;
  box-shadow: none !important;
  color: $heading-color !important;
  font-weight: bold !important;
  padding: 0 !important;
}
.rc-slider-rail {
  height: 8px !important;
  background: $purple-light-color !important;
}
.rc-slider-track {
  height: 8px !important;
  background: $primary-color !important;
}
.rc-slider-handle {
  margin-top: -3px !important;
  background: $primary-color !important;
  opacity: 1 !important;
  border: 3px solid $white-color !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.audience-type {
  @include media('>=tablet_portrait') {
    grid-column: 2;
  }
  &__container {
    padding-top: 32px;

    @include media('>=tablet_portrait') {
      padding: 0;
    }
  }

  h3 {
    @include h3;
    margin-bottom: 16px;
  }

  p {
    @include text-body;
    margin-bottom: 32px;
  }

  &__form {
    display: grid;
    grid-row-gap: 32px;
    background: $white-color;
    border-radius: 8px 8px 0 0;
    padding: 32px 13px 0 14px;

    @include media('>=tablet_portrait') {
      padding: 56px 56px 0;
    }

    select {
      background: $white-color;
      padding: 12px 20px;
      border-radius: 8px;
      border: 1px solid $grey-light-color;
      color: $body-color;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input {
        border: 1px solid $grey-light-color;
        border-radius: 8px;
        padding: 12px 20px;

        &::placeholder {
          opacity: 20%;
        }
      }
    }
  }
}

.budget {
  @include media('>=tablet_portrait') {
    grid-column: 2;
  }
  &__container {
    padding-top: 32px;

    @include media('>=tablet_portrait') {
      padding: 0;
    }
  }

  &__wrapper {
    display: grid !important;
    grid-template-columns: minmax(0, 2fr) minmax(0, 0.5fr) minmax(0, 2fr) !important;
  }

  &__input {
    grid-column: 1;
  }

  &__word {
    font-weight: 400 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }

  h3 {
    @include h3;
    margin-bottom: 16px;
  }

  p {
    @include text-body;
    margin-bottom: 32px;
  }

  &__form {
    background: $white-color;
    border-radius: 8px 8px 0 0;
    padding: 32px 13px 0 14px;

    @include media('>=tablet_portrait') {
      padding: 56px 56px 0;
    }

    select {
      background: $white-color;
      padding: 12px 20px;
      border-radius: 8px;
      border: 1px solid $grey-light-color;
      color: $body-color;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input {
        border: 1px solid $grey-light-color;
        border-radius: 8px;
        padding: 12px 20px;

        &::placeholder {
          opacity: 20%;
        }
      }
    }
  }
}

.followers__wrapper {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 16px !important;
}
.followers__from {
  grid-column: 1;
}

.engagement__wrapper {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 16px !important;
}
.engagement__from {
  grid-column: 1;
}

.location {
  @include media('>=tablet_portrait') {
    grid-column: 2;
  }
  &__container {
    padding-top: 32px;

    @include media('>=tablet_portrait') {
      padding: 0;
    }
  }

  &__wrapper {
    display: grid !important;
    grid-template-columns: minmax(0, 2fr) minmax(0, 0.5fr) minmax(0, 2fr) !important;
  }

  &__input {
    grid-column: 1;
  }

  &__word {
    font-weight: 400 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }

  h3 {
    @include h3;
    margin-bottom: 16px;
  }

  p {
    @include text-body;
    margin-bottom: 32px;
  }

  &__form {
    background: $white-color;
    border-radius: 8px 8px 0 0;
    padding: 32px 13px 0 14px;

    @include media('>=tablet_portrait') {
      padding: 56px 56px 0;
    }

    select {
      background: $white-color;
      padding: 12px 20px;
      border-radius: 8px;
      border: 1px solid $grey-light-color;
      color: $body-color;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input {
        border: 1px solid $grey-light-color;
        border-radius: 8px;
        padding: 12px 20px;

        &::placeholder {
          opacity: 20%;
        }
      }
    }
  }
}

.location-slider {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid $light-blue-color;
  padding-bottom: 40px;

  @include media('>=tablet_portrait') {
    flex-direction: row;
    align-items: center;
    gap: 24px;

    &__input {
      flex: 1;
    }

    &__label {
      flex: 1;
      margin-bottom: 24px;
    }
  }
}

post-card {
  &__container {
    img {
      width: 200px;
      height: 200px;
    }
  }
}
