.multi-step-form {
  background: $light-blue-color;
  min-height: 100vh;

  &__container {
    @include container;
    margin-bottom: 0;
    padding-bottom: 24px;
  }
}

.multi-step {
  padding-top: 96px;
  display: grid;

  @include media('>=tablet_portrait') {
    padding-top: 208px;
    grid-template-columns: 1fr 2fr;
  }
}

.progtrckr {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 32px;

  @include media('>=tablet_portrait') {
    grid-auto-flow: row;
    position: absolute;
    grid-column-gap: 0;
    grid-row-gap: 32px;
  }
}

.progtrckr-doing {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;

  em {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 0;
  }
  span {
    color: $primary-color;
    font-weight: bold;
  }
}

.progtrckr-todo {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;

  em {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 0;
  }
  span {
    display: inline-flex;
    flex-direction: column;
  }
}

.progtrckr-done {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;

  em {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 0;
  }
  span {
    display: inline-flex;
    flex-direction: column;
  }
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  background: $white-color;
  border-radius: 0 0 8px 8px;
  padding: 16px 13px 32px 14px;

  @include media('>=tablet_portrait') {
    padding: 24px 56px 56px;
    grid-column: 2;
  }
}

.pull-right {
  @include primary-button;
}

.pull-left {
  background: none;
  color: $primary-color;
  font-weight: bold;
  cursor: pointer;
}

.business-category {
  @include media('>=tablet_portrait') {
    grid-column: 2;
  }
  &__container {
    padding-top: 32px;

    @include media('>=tablet_portrait') {
      padding: 0;
    }
  }

  h3 {
    @include h3;
    margin-bottom: 16px;
  }

  p {
    @include text-body;
    margin-bottom: 32px;
  }

  &__form {
    background: $white-color;
    border-radius: 8px 8px 0 0;
    padding: 32px 13px 0 14px;

    @include media('>=tablet_portrait') {
      padding: 56px 56px 0;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input {
        border: 1px solid $grey-light-color;
        border-radius: 8px;
        padding: 12px 20px;

        &::placeholder {
          opacity: 20%;
        }
      }
    }
  }
}

.audience-type {
  @include media('>=tablet_portrait') {
    grid-column: 2;
  }
  &__container {
    padding-top: 32px;

    @include media('>=tablet_portrait') {
      padding: 0;
    }
  }

  h3 {
    @include h3;
    margin-bottom: 16px;
  }

  p {
    @include text-body;
    margin-bottom: 32px;
  }

  &__form {
    background: $white-color;
    border-radius: 8px 8px 0 0;
    padding: 32px 13px 0 14px;

    @include media('>=tablet_portrait') {
      padding: 56px 56px 0;
    }

    select {
      background: $white-color;
      padding: 12px 20px;
      border-radius: 8px;
      border: 1px solid $grey-light-color;
      color: $body-color;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input {
        border: 1px solid $grey-light-color;
        border-radius: 8px;
        padding: 12px 20px;

        &::placeholder {
          opacity: 20%;
        }
      }
    }
  }
}
