.post-card {
  &__container {
    background: $white-color;
    border: 1px solid $darker-light-blue-color;
    border-radius: 20px;
  }

  &__img-wrapper {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
  }
}
