.hero-section {
  &__container {
    @include container;

    @include media('>=tablet_portrait') {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      gap: 64px;
    }
  }

  &__img-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    @include media('>=tablet_portrait') {
      flex: 1;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__body-wrapper {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('./assets/images/bg-text-hero.png');
      width: 100%;
      height: 100%;
      z-index: -1;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    @include media('>=tablet_portrait') {
      flex: 1;
      padding: 56px 0;
    }

    h1 {
      @include h1;
      font-weight: 1000;
      margin-bottom: 24px;

      span {
        color: $primary-color;
      }
    }

    p {
      @include text-body;
      margin-bottom: 16px;

      @include media('>=tablet_portrait') {
        margin-bottom: 40px;
      }
    }

    button {
      @include special-button;
    }
  }
}
