.metrics-section {
  &__container {
    @include container;

    @include media('>=tablet_portrait') {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      gap: 64px;
    }
  }

  &__img-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    @include media('>=tablet_portrait') {
      flex: 1;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__body-wrapper {
    position: relative;

    @include media('>=tablet_portrait') {
      flex: 1;
      padding: 56px 0;
    }

    h3 {
      @include h3;
      margin-bottom: 24px;
    }

    p {
      @include text-body;
      margin-bottom: 16px;

      @include media('>=tablet_portrait') {
        margin-bottom: 40px;
      }
    }
  }
}
