$primary-color: #4b00ff;
$secoundary-color: #ff0080;
$heading-color: #1d1443;
$body-color: #6a6772;
$light-blue-color: #f1f4ff;
$white-color: #ffffff;
$purple-color: #3c3058;
$black-color: #000000;
$grey-light-color: #bab5c5;
$purple-light-color: #e3d8ff;
$darker-light-blue-color: #d8e0ff;
