@mixin heading {
  font-weight: bold;
  color: $heading-color;
}

@mixin h1 {
  @include heading;
  font-size: 32px;
  line-height: 36px;

  @include media('>=tablet_portrait') {
    font-size: 48px;
    line-height: 64px;
  }
}

@mixin text-body {
  color: $body-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  @include media('>=tablet_portrait') {
    font-size: 18px;
    line-height: 32px;
  }
}

@mixin link-text {
  color: $primary-color;
  font-size: 14px;
  font-weight: 600;

  @include media('>=tablet_portrait') {
    font-size: 16px;
  }
}
