.login-page {
  background: $light-blue-color;
  min-height: 100vh;

  &__container {
    @include container;
    padding-top: calc(30vh + 72px);
    margin-bottom: 0 !important;
  }

  &__form-wrapper {
    border-radius: 8px;
    width: 100%;
    background: $white-color;
    padding: 32px 13px 32px 14px;

    @include media('>=tablet_portrait') {
      padding: 56px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input {
        border: 1px solid $grey-light-color;
        border-radius: 8px;
        padding: 12px 20px;

        &::placeholder {
          opacity: 20%;
        }
      }
    }

    button {
      @include primary-button;
      align-self: center;
    }
  }
}
