.login-page {
  background: $light-blue-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    @include container;
    display: flex;
    flex-direction: column;
  }

  &__form-wrapper {
    border-radius: 8px;
    width: 100%;
    background: $white-color;
    padding: 32px 13px 32px 14px;

    @include media('>=tablet_portrait') {
      padding: 56px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      display: flex;
      flex-direction: column;
    }

    button {
      @include primary-button;
      align-self: center;
    }
  }
}
