/* include media */
@import './scss/base/include-media';

/* base */
@import './scss/base/reset';
@import './scss/base/global';

@import './scss/base/colors';
@import './scss/base/buttons';
@import './scss/base/variables';
@import './scss/base/text';

/* component */
@import './scss/components/nav';
@import './scss/components/multi-step-form';
@import './scss/components/post-card';
@import './scss/components/blog-card';

/* section */
@import './scss/sections/hero-section';
@import './scss/sections/influencer-section';
@import './scss/sections/metrics-section';
@import './scss/sections/collaborate-section';
@import './scss/sections/campaign-section';
@import './scss/sections/tailored-section';
@import './scss/sections/review-section';
@import './scss/sections/blog-section';
@import './scss/sections/about-section';

/* pages */
@import './scss/pages/front-page';
@import './scss/pages/sign-up-page';
@import './scss/pages/login-page';
