/* include media */
@import '../node_modules/include-media/dist/include-media';

/* base */
@import './scss/base/reset';
@import './scss/base/global';
@import './scss/base/colors';
@import './scss/base/buttons';
@import './scss/base/variables';
@import './scss/base/text';

/* component */
@import './scss/components/nav';

/* section */
@import './scss/sections/hero-section';

/* pages */
@import './scss/pages/front-page';
@import './scss/pages/sign-up-page';
@import './scss/pages/login-page';
